.company {
  padding-top: 39px;
  padding-bottom: 73px;
  border-top: 2px solid #EEEEEE;
  border-bottom: 2px solid #EEEEEE;
  &__wrapper {
    display: flex;
    justify-content: space-between;
   
  
  }

  &__title {
    margin-top: calc(73px - 39px);
    margin-bottom: 32px;
    color: #000;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    /* 100% */
  }

  &__text {
    margin-bottom: 40px;
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
  }

  &__subtitle {
    color: #283136;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
    text-transform: uppercase;
  }

  &__list {
    margin-top: 23px;
    display: flex;
    gap: 35px;
    flex-direction: column;

    li {
      color: #283136;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      /* 150% */
    }

  }
&__img {
  margin-bottom: 37px;
}
  &__prosent {
    margin-top: 31px;
    display: flex;
    gap: 22px;

    li {
      color: #000;
      font-size: 45px;
      font-weight: 700;
      line-height: 64px;
      /* 142.222% */
    }
  }

  &__descr {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    li {
      color: #283136;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      /* 112.5% */
    }
  }

  &__item {
    position:relative;
    padding-left: calc(25px + 7px + 5px);

    
  &::before {
    content: '';
    left: 0;
    top: 50%;
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #FB565A;
    transform: translateY(-50%);

  }
  }
}