.order {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: 60%);
    display: none;
   
    &--active {
    display: block;
     }
    

    &__wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 3px;
        padding: 50px;
        width: 600px;
        height: auto;
        transform: translate(-50%, -50%);
        background-color: rgb(233, 230, 227);
    }

    &__header {
        display: flex;
       //  justify-content: center;
        margin-bottom: 15px;
    }

    &__title {
        margin-left: 200px;
    }

    &__cross {
        margin-left: 120px;
        //padding-left: 380px ;
        display: block;
        width: 21px;
        height: 21px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21' fill='none'%3E%3Cpath d='M13.3299 10.5005L20.7072 3.12321C21.0963 2.7317 21.0963 2.09952 20.7072 1.70801L19.292 0.291799C18.9005 -0.0972665 18.2683 -0.0972665 17.8768 0.291799L10.4995 7.67009L3.12221 0.2928C2.7307 -0.0962657 2.09852 -0.0962657 1.70701 0.2928L0.291799 1.70801C-0.0972665 2.09952 -0.0972665 2.7317 0.291799 3.12321L7.66909 10.5005L0.291799 17.8778C-0.0972665 18.2693 -0.0972665 18.9015 0.291799 19.293L1.70801 20.7082C2.09952 21.0973 2.7317 21.0973 3.12321 20.7082L10.5005 13.3309L17.8778 20.7082C18.2693 21.0973 18.9015 21.0973 19.293 20.7082L20.7082 19.293C21.0973 18.9015 21.0973 18.2693 20.7082 17.8778L13.3299 10.5005Z' fill='%23FB565A'/%3E%3C/svg%3E");
        cursor: pointer;
        opacity: 0.3;
        transition: opacity 300ms;

        &:hover {
            opacity: 1;
        }

        &:active {
            opacity: 0.1;
        }
    }

    &__nameemail {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
            padding-right: 10px;
        }

        #inputemail {
            margin-left: -4px;
        }

        #inputtel {
            margin-left: 9px;

        }

        input {
            width: 400px;
            height: 50px;
        }

    }


    &__blockarea {
        display: flex;
        align-items: center;
        flex-direction: column;

        margin-top: 10px;
        margin-bottom: 10px;

        textarea {
            margin-top: 10px;
            margin-bottom: 10px;
            width: 400px;
            height: 300px;
            resize: none;
        }


    }

    &__button {
        position: relative;
        left: 130px;
        border: none;


    }
    

}