.partners {
    margin-top: 46px;
    margin-bottom: 44px;
    border-bottom: 2px solid #EEEEEE;

    &__img {
        display: flex;
        // justify-content: space-between;
        //align-items: flex-start;

    }
&__png {
    opacity: 0.30;
    transition: opacity 300ms;
    &:hover {
        opacity: 1;  
    }
}
    &__icon1 {
        position: relative;
        padding: 63px 48px 63px 0;
        

        &::after {
            position: absolute;
            content: '';
            top: 64px;
            // top: 50%;
            width: 2px;
            height: 52px;
            background-color: #EEE;
            right: 0;
            //transform: translateY(-50%);


        }
        
    }

    &__icon2 {
        position: relative;
        padding: 42px 44px 0 44px;
        //padding-left: 45px;

        &::after {
            position: absolute;
            content: '';
            //top: 50%;
            width: 2px;
            height: 52px;
            background-color: #EEE;
            right: 0;
            top: 64px;
            //transform: translateY(-50%);
        }


    }

    &__icon3 {
        position: relative;
        padding: 65px 55px 0 58px;
        //padding-left: 45px;

        &::after {
            position: absolute;
            top: 64px;
            content: '';
            // top: 50%;
            width: 2px;
            height: 52px;
            background-color: #EEE;
            right: 0;
            // transform: translateY(-50%);
        }



    }

    &__icon4 {
        position: relative;
        padding: 52px 0 0 58px;
    }


}