<ul class="cards list-reset">
    <li class="cards__card">
        <div class="cards__shape">

        </div>
        <img src="img/sedona.png" alt="" class="cards__img">
        <div class="cards__block">
            <h4 class="cards__title">Sedona</h4>
            <p class="cards__descr">
                Информационный сайт для туристов
            </p>
            <a href="#" class="cards__button btn"><span>9900</span> ₽</a>
        </div>
    </li>
    <li class="cards__card">
        <div class="cards__shape">

        </div>
        <img src="img/pink.png" alt="" class="cards__img">
        <div class="cards__block">
            <h4 class="cards__title">Sedona</h4>
            <p class="cards__descr">
                Информационный сайт для туристов
            </p>
            <a href="#" class="cards__button btn"><span>9900</span> ₽</a>
        </div>
    </li>
    <li class="cards__card">
        <div class="cards__shape">

        </div>
        <img src="img/barbershop.png" alt="" class="cards__img">
        <div class="cards__block">
            <h4 class="cards__title">Sedona</h4>
            <p class="cards__descr">
                Информационный сайт для туристов
            </p>
            <a href="#" class="cards__button btn"><span>9900</span> ₽</a>
        </div>
    </li>
    <li class="cards__card">
        <div class="cards__shape">

        </div>
        <img src="img/mishka.png" alt="" class="cards__img">
        <div class="cards__block">
            <h4 class="cards__title">Sedona</h4>
            <p class="cards__descr">
                Информационный сайт для туристов
            </p>
            <a href="#" class="cards__button btn"><span>9900</span> ₽</a>
        </div>
    </li>
    <li class="cards__card">
        <div class="cards__shape">

        </div>
        <img src="img/aplus.png" alt="" class="cards__img">
        <div class="cards__block">
            <h4 class="cards__title">Sedona</h4>
            <p class="cards__descr">
                Информационный сайт для туристов
            </p>
            <a href="#" class="cards__button btn"><span>9900</span> ₽</a>
        </div>
    </li>
    <li class="cards__card">
        <div class="cards__shape">

        </div>
        <img src="img/kvast.png" alt="" class="cards__img">
        <div class="cards__block">
            <h4 class="cards__title">Sedona</h4>
            <p class="cards__descr">
                Информационный сайт для туристов
            </p>
            <a href="#" class="cards__button btn"><span>9900</span> ₽</a>
        </div>
    </li>
</ul>
<ul class="cards__pages list-reset">
    <li class="cards__page cards__page--active">
        <a href="#" class="cards__number">1</a>
    </li>
    <li class="cards__page">
        <a href="#" class="cards__number">2</a>
    </li>
    <li class="cards__page">
        <a href="#" class="cards__number">3</a>
    </li>
    <li class="cards__nextpage">
        <a href="#" class="cards__next">Следующая</a>
    </li>
</ul>