<section class="company">
  <div class="container">
    <div class="company__text">Мы — маленькая, но гордая дизайн-студия из Краснодара.</div>
    <div class="company__text company__text--subtitle">Исповедуем принципы минимализма и чистоты. Ставим математический расчет превыше креатива.
       Работаем не покладая рук, как роботы.</div>
       <div class="company__text company__text--ul"> Выполняем заказы на разработку:</div>
        	Слайдшоу и видео для корпоративных презентаций</div>
        <div class="company__text company__text--li"> Веб-сайтов любой сложности ///
            Мобильных приложений для iOS и Android ///
            Слайдшоу и видео для корпоративных презентаций</div>
       <img src="" alt="Nerd*s" class="company_img" >
  </div>
</section>
