<section class="company">
  <div class="container">
    <div class="company__wrapper">
      <div class="company__left">
        <h1 class="company__title">Мы — маленькая, но гордая<br>дизайн-студия из Краснодара.
        </h1>
        <p class="company__text">
          Исповедуем принципы минимализма и чистоты. Ставим математический расчет<br>
          превыше креатива. Работаем не покладая рук, как роботы.
        </p>
        <h3 class="company__subtitle">Выполняем заказы на разработку:</h3>
        <ul class="company__list list-reset">
          <li class="company__item">
            Веб-сайтов любой сложности
          </li>
          <li class="company__item">
            Мобильных приложений для iOS и Android
          </li>
          <li class="company__item">
            Слайдшоу и видео для корпоративных презентаций
          </li>
        </ul>
      </div>
      <div class="company__right">
        <img src="img/co1.png" alt="логотип" class="company__img">
        <h3 class="company__subtitle">
          с 2004 года Любим точность во всем:
        </h3>
        <ul class="company__prosent list-reset">
          <li class="company__prosent-item">
            146<sup>%</sup>
          </li>
          <li class="company__prosent-item">
            100<sup>%</sup>
          </li>
          <li class="company__prosent-item">
            50<sup>%</sup>
          </li>
        </ul>

        <ul class="company__descr list-reset">
          <li class="company__descr-item">
            Уровень <br>самоотдачи
          </li>
          <li class="company__descr-item">
            Соблюдение <br>сроков
          </li>
          <li class="company__descr-item">
            Минимальная<br>предоплата
          </li>
        </ul>

      </div>
    </div>
  </div>
</section>