<div class="custom-range">
    <div class="custom-range__wrapper">
        <div class="custom-range__track"></div>
        <input type="range" min="0" max="100" value="30" id="slider-1" oninput="slideOne()">
        <input type="range" min="0" max="100" value="70" id="slider-2" oninput="slideTwo()">
    </div>
    <div class="custom-range__values">
        <div class="custom-range__value">
            <label for="range1">от</label>
            <input type="number" name="" id="range1" min="0" max="100" value="30">
        </div>
        <div class="custom-range__value">
            <label for="range2">до</label>
            <input type="number" id="range2" min="0" max="100" value="70">
        </div>
        
    </div>
</div>