<aside class="filters">
    <div class="filters__wrapper">
        <form action="" class="filters__form">
            <div class="filters__block">
                <h3 class="filters__title">Сетка:</h3>
                <div class="filters__radios">
                    <div class="filters__radio">
                        <input class="custom-radio" name="radio" type="radio" id="radio1" value="Адаптивная" checked>
                        <label for="radio1">Адаптивная</label>
                    </div>
                    <div class="filters__radio">
                        <input class="custom-radio" name="radio" type="radio" id="radio2" value="Фиксированная">
                        <label for="radio2">Фиксированная</label>
                    </div>
                    <div class="filters__radio">
                        <input class="custom-radio" name="radio" type="radio" id="radio3" value="Резиновая">
                        <label for="radio3">Резиновая</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</aside>