<aside class="filters">
    <div class="filters__wrapper">
        <form action="" class="filters__form">
            <div class="filters__block">
                <h3 class="filters__title">Сетка:</h3>
                <div class="filters__radios">
                    <div class="filters__radio">
                        <input class="custom-radio" name="radio" type="radio" id="radio1" value="Адаптивная" checked>
                        <label for="radio1">Адаптивная</label>
                    </div>
                    <div class="filters__radio">
                        <input class="custom-radio" name="radio" type="radio" id="radio2" value="Фиксированная">
                        <label for="radio2">Фиксированная</label>
                    </div>
                    <div class="filters__radio">
                        <input class="custom-radio" name="radio" type="radio" id="radio3" value="Резиновая">
                        <label for="radio3">Резиновая</label>
                    </div>
                </div>
            </div>
            <div class="filters__addblock">
                <h3 class="filters__addtitle">Особенности:</h3>
                <div class="filters__checkboxes">
                    <div class="filters__checkbox">
                        <input type="checkbox" class="custom-checkbox" id="checkbox1" name="checkbox" value="Слайдер">
                        <label for="checkbox1">Слайдер</label>
                    </div>
                    <div class="filters__checkbox">
                        <input type="checkbox" class="custom-checkbox" id="checkbox2" name="checkbox" value="Блок преимуществ">
                        <label for="checkbox2">Блок преимуществ</label>
                    </div>
                    <div class="filters__checkbox">
                        <input type="checkbox" class="custom-checkbox" id="checkbox3" name="checkbox" value="Новости">
                        <label for="checkbox3">Новости</label>
                    </div>
                    <div class="filters__checkbox">
                        <input type="checkbox" class="custom-checkbox" id="checkbox4" name="checkbox" value="Галерея">
                        <label for="checkbox4">Галерея</label>
                    </div>
                    <div class="filters__checkbox">
                        <input type="checkbox" class="custom-checkbox" id="checkbox5" name="checkbox" value="Корзина">
                        <label for="checkbox5">Корзина</label>
                    </div>
                </div>
            </div>
            <div class="filters__button">
                <button>ПОКАЗАТЬ</button>
            </div>

        </form>
    </div>
</aside>