<footer class="footer">
  <div class="map">
    <iframe
      src="https://yandex.ru/map-widget/v1/?ll=30.323036%2C59.938631&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NzM5NDE4NBJh0KDQvtGB0YHQuNGPLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywg0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQu9C40YbQsCwgMTkvOCIKDZaV8kEVKcFvQg%2C%2C&z=16.66"
      frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
  </div>
  <div class="container">
    <div class="map__wrapper">
      <div class="map__block">
        <h3 class="map__h3">NЁRDS DESIGN STUDIO</h3>
        <p class="map__text">191186, Санкт-Петербург, <br>ул. Б. Конюшенная, д. 19/8 <br> <br>тел. <a
            href="tel:+78122757575">+7 (812) 275-75-75</a></p>
        <a href="#" class="map__button btn">Напишите нам</a>
      </div>
    </div>
  </div>
  </div>
  <div class="container"></div>
  <!-- модальное окно -->
  <!-- для js закрыть открыть модальное окно -->

  <div class="modal">
    <!-- Обертка для формы wrapper -->
    <div class="modal__wrapper">
      <!-- Шапка header в которой лежит заголовок и крестик -->
      <div class="modal__header">
        <h4 class="modal__title">Форма обратной связи</h4>
        <div class="modal__cross">
        </div>
      </div>
      <!-- Тело самой формы в котором "ИМЯ(input)" "ЕМAIL(input)" "СООБЩЕНИЕ(textarea)"-->
      <div class="modal__body">
        <form action="" class="modal__form">
          <div class="modal__nameemail">
            <div class="model__block">
              <label for="imputname">Ваше имя</label>
              <input type="text" name="" id="imputname" class="modal__imputform" minlength="2" maxlength="16"
                placeholder="Имя Фамилия">
            </div>
            <div class="modal__block">
              <label for="inputemail">Email</label>
              <input type="email" name="" id="inputemail" class="modal__imputform" minlength="2" maxlength="16"
                placeholder="Ваш Email">
            </div>
          </div>

          <div class="modal__blockarea">
            <label for="textarea">Сообщение</label>
            <textarea name="textarea" id="textarea" placeholder="Введите сообщение" class="modal__imputform"></textarea>
          </div>
          <!-- Кнопка отправить -->
          <button class="modal__button btn">Отправить</button>


        </form>

      </div>

    </div>

  </div>
  <div class="LinkFooter">
    <div class="container">
      <ul class="LinkFooter__link list-reset">
        <li class="LinkFooter__item">
          <a href="#" ><img src="../img/svg/vk-icon.svg" class="LinkFooter__vk" alt=""></a>
        </li>
        <li class="LinkFooter__item">
          <a href="#"><img src="../img/svg/fb-icon.svg" class="LinkFooter__f" alt=""></a>
        </li>
        <li class="LinkFooter__item">
          <a href=""> <img src="../img/svg/insta-icon.svg" class="LinkFooter__inst" alt=""></a>
        
        </li>
      </ul>
    </div>
    
  </div>
</footer>