<section class="partners">
  <div class="container">
    <div class="partners__img">
     <div class="partners__icon1">
      <img src="../img/part1.png" alt="партнер 1" class="partners__png">
     </div> 
     <div class="partners__icon2">
      <img src="../img/part2.png" alt="партнер 2" class="partners__png">
     </div> 
     <div class="partners__icon3">
      <img src="../img/part3.png" alt="партнер 3" class="partners__png">
     </div> 
     <div class="partners__icon4">
      <img src="../img/part4.png" alt="партнер 4" class="partners__png">
     

  </div>
</section>